@model IEnumerable<StaffManagement.Models.Staff>
@inject SignInManager<Staff> _manager;
@{
    ViewData["Title"] = "Index";
}

@if (_manager.IsSignedIn(User))
{   <div class="w-100 d-flex justify-content-between align-items-center">
        <h1 class="display-4 text-primary">Hi @User.Identity.Name</h1>
        
            <a><i class="fa-solid fa-gear text-primary mr-2"></i>Profile</a>
        
    </div>
    
}



@if (User.IsInRole("Admin"))
{
    <a  name="register_staff" asp-action="Register" class="btn btn-primary text-white float-right mb-5">Register New Staff</a>
}

@if (Model.Count() > 0)
{
    <div class="row w-100">
        @foreach (var item in Model)
        {
                <div class="col-md-3 card mt-5">
                    <img src="@item.PhotoPath " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.FirstName @item.LastName</h5>
                        <p class="card-text">@item.JobTitle</p>
                        <p class="card-text"><small class="text-muted"><a asp-action="" text-color="white">View details</a></small></p>
                    </div>
                </div>
        }
       
    </div>
}
else
{
    <small class="mt-5 text-center">No Staffs added yet</small>
}



